/* =======================================================
*
* 	Custom Style 
*
* ======================================================= */

#fh5co-header {
    height: 100vh !important;
}
#fh5co-header .row {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

}
#fh5co-header .display-tc{
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: space-evenly !important;
    height: 90vh !important;
    padding-top: 90px !important;
}
.header-date {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 150% !important;
}
.header-date-wrap img {
    width: auto;
    height: 150px;
    margin: 2.5em 0;
    
    filter: drop-shadow(0 0 1.5rem rgba(125,125,125, 0.2));
  }
.header-date-wrap h1 {
    font-family: Kalam Regular, sans-serif !important;
    color: #c2c2c2

}  

.header-qoute {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-size: 200% !important;
    margin: 0 !important;
}
.header-lead {
    font-family: "Montserrat", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 150% !important;
    color: #fff;

    margin-top: 0;
}
@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.header-lead iconify-icon {
    color: rgba(255, 255, 255, 0.7);
    width: 2em;
    height: 100%;

    animation: floating 2s ease-in-out infinite;
}




/* .clock {
    margin: 0 !important;
    margin-left: 8px !important;
} */


.faq-item {
    margin: 1em 0 !important;
    padding: 1em 0 !important;
    border-bottom: 1px solid #e6e6e6 !important;
}